body{
    background-image: url(./images1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.naruto{
    background-image: url(./scroll.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 250px;
    max-height: 800px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    margin-top: 50px;
    color: rgb(64, 33, 2);
}
.naruto input{
    padding-top: 5px;
 padding-bottom: 5px;
  font-size: 1rem;
  border-style: solid;
  border-color: var(--accent);
  text-align: center;
  outline: transparent;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;

}
#viewBtn{
    margin-top: 10px;
    margin-bottom: 10px;
}
#charImg{
    margin-left: 10px;
    margin-top: 20px;
    border: 3px solid white;
    border-radius: 10px;
    height: 100px;
    width: 150px;
}